<p style="color: green"><%= notice %></p>

<%= render @art %>

<div>
  <%= link_to "Edit this piece", edit_art_path(@art) %> |
  <%= link_to "Back to gallery", arts_path %>

  <%= button_to "Destroy this piece", @art, method: :delete %>
</div>
